
/* Centrar un div con grid  place-self,place items,place content*/

.container{
    display: grid;
    place-content: center;
}
.gallery{
    display: grid;
    margin: 30px;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    grid-gap: 15px;

}


.foto img{
    width: 100%;
    height: auto;
}

.foto p{
    padding: 10px;
    background-color: #2a2a34;
    color: white;
    font-family: 'Roboto Condensed';
    text-align: center;

}
.foto:hover{
    scale: 1.05;
    transition: 0.6s;
}

.category-title{
    font-family: 'Roboto Condensed';
    color: brown;
    font-size: 50px;
    text-align: center;

}