{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/video.css' %}" type="text/css">



<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
    <nav class="bg-white">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            
            <div class="hidden md:block">
             
            </div>
          </div>
          <div class="hidden md:block">
            <div class="ml-4 flex items-center md:ml-6">
            
  
              <!-- Profile dropdown -->
             
  
                <!--
                  Dropdown menu, show/hide based on menu state.
  
                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                
              </div>
            </div>
          </div>
          <div class="-mr-2 flex md:hidden">
            <!-- Mobile menu button -->
           
          </div>
        </div>
      </div>
  
      <!-- Mobile menu, show/hide based on menu state. -->
      
      </div>
    </nav>
  
    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 id="titulo" class="text-3xl font-bold tracking-tight text-gray-900">{{post.nombre}}</h1>
      </div>
    </header>
    <main>
      <div id="iframe" class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
       
        {{leccion.url |safe}}
  
      </div>
    </main>
  </div>




















{% endblock %}